html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.body {
  background-color: #0093e9;
  background-image: linear-gradient(158deg, #0093e9 0%, #80d0c7 100%);
  background-attachment: fixed;
  min-height: 100vh; }

.main__header {
  color: #5a9a93;
  min-width: 200px;
  max-width: 250px;
  background-color: #fff12e;
  border-radius: 10px; }

h2 {
  color: #3af31d; }

h3 {
  color: darkgoldenrod; }

article {
  color: #c0f60e; }

.special-heading {
  color: #1278e5; }

.navigation {
  background-color: #6753d4;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center; }
  .navigation__link {
    background-color: #e9e112;
    border-radius: 5px;
    display: inline-block;
    margin-right: 20px; }

.navigation__link:hover {
  color: #d41d47; }

.navigation__link:visited {
  color: null; }

.navigation__link:focus {
  border: 5px solid #1eec10; }

.header__main--photo {
  margin-bottom: 2px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 15px; }

.header__main {
  display: flex;
  justify-content: center;
  justify-content: space-around; }

.section__title {
  background-color: #ede395; }

.section:hover {
  background-color: #d32ab1; }

.main {
  max-width: 1000px;
  margin: 0 auto; }

.footer {
  bottom: 0;
  width: 100%;
  margin-bottom: 16px;
  background-color: aliceblue; }
  .footer__::before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #30ce00; }
    .footer__::before__::after {
      content: "GOODBYE"; }
